node_modules
dist
.parcel-cache
.turbo
site
typedoc_docs
kv.db
.env
kv_data.json

verdaccio/storage
esbuild_meta.json
stats.html
games
platform-examples

# Vitest
coverage
.vitest

# Test artifacts
tests/**/node_modules
tests/**/dist
tests/**/.npmrc
tests/**/*.backup
